body {
    zoom: 45%;
    overflow-x: hidden;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a0330;
    /* height: 100vh; */
    /* height: 100vh!important;  */
}


.navbar {
    width: 2880px;
    padding: 15px 98px 32px 98px;
    display: flex;
    gap: 220px;
    align-items: center;
    position: relative;
    right: -150px;

}

#logo {
    width: 545.22px;
    height: 64px;
}

.copy {

    font-family: "Inter";
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    color: white;

}

ul {
    display: flex;
    list-style-type: none;
    color: white;
    gap: 30px;

    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;

}
li:hover
{
    transform: translateY(-10px);
    cursor: pointer;
}
#left {
    width: 270px;
    position: relative;
    top: -500px;
    left: -25px;

}

#saturn {
    width: 550px;
    position: relative;
    top: -400px;
    left: -25px;

}

#small {
    width: 288px;
    position: relative;
    top: -720px;
    left: -25px;

}


#bottomPlanet {
    margin-left: 900px;
    width: 339px;
    position: relative;
    top: -720px;


}

#rightBottom {
    margin-left: 410px;
    width: 782px;
    position: relative;
    top: -720px;

}

.planets {
    min-width: 500%;
    position: relative;
    top: -1080px;
    right: -185px;
}

#right {
    margin-left: 840px;
    width: 510px;
    position: relative;

}

#Earth {
    width: 196.5px;
    position: relative;
    top: -580px;
    right: -200px;
    margin-left: 900px;
    animation-name:Rotate;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    /* left: -30px; */

}

#green {
    width: 126px;
    position: relative;
    top: -1060px;
    left: -10px;
}
@keyframes Rotate {
    from
    {
        transform: rotateY(0deg);
    }
    to
    {
        transform: rotateY(180deg);
    }
    
}
#green.show
{
    animation-name:Rotate;
    animation-duration: 2s;
    animation-fill-mode: both;

}
.identify.show,#small.show
{
    animation-name:fade;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}
@keyframes fade {
   from{
    opacity: 0 ;
   }
   to
   {
   opacity: 1;;
   }
    
}
.heading { 
    color: #FFFF;

    font-family: "Orbitron";
    font-size: 150px;
    font-weight: 900;
    line-height: 210px;
    position: relative;
    bottom: -300px;
    right: -500px;
    width: 2000px;
    height: 1200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;


}

.text {
    /* bottom: -1000px;
    right: -500px; */
    width: 2000px;
    height: 500px;
    text-align: center;
    font-family: "Inter";
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    color: #FFFF;
    position: relative;
    bottom: -120px;



}

.learn {
    position: relative;
    top: -100px;
    width: 492px;
    height: 176px;
    padding: 28px 40px 28px 40px;
    gap: 16px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
    right: -800px;

    font-family: "Orbitron";
    font-size: 42px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #FFFF;
    background-image: linear-gradient(315deg, #CD1013 1.19%, #FF0004 1.5%, #2500FF 94.46%);
    transition : transform 0.3s ,font-size 0.3s;
}
.learn:hover{
    transform: translateY(-10px);
    font-size: 50px;
  

}

.Sun {

    position: relative;
    top: -1806px;
    background-repeat: no-repeat;
    width: 2750px;
    height: 1800px;
}

.sun_bg {
    width: 100%;
    height: 100%;

}

.SUN {
    position: relative;
    top: -1806px;
    right: -5px;
    width: 2740px;
    box-shadow: 0px ;
}


.sun_text.show.rec
{
  animation: grow 2s forwards ease-out;
}
@keyframes grow {
    from
    {
        transform: scale(1.09);
    }
    to{
        transform: scale(1);
    }
    
}

.sun_heading {
    color: #FFFF;
    font-family: "Orbitron";
    font-size: 134px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: -0.02em;
    text-align: left;

}

.sun_text {
    position: relative;
    top: -1830px;
    right: -340px;
}

.sun_subtext {
    color: #FFFF;
    font-family: "Inter";
    font-size: 28px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    position: relative;
    bottom: -80px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cards {
    display: flex;
    gap: 48px;




}

.card1,
.card2 {
    width: 400px;
    height: 176px;
    padding: 24px 40px 24px 40px;
    border-radius: 32px;
    border: 4px 0px 0px 0px;
    opacity: 0px;
    background-image: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    position: relative;
    bottom: -200px;
    border: 6px solid;

    border-image-source: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #170B36 0%, #100A33 11.98%, #370D44 46.35%, #430E49 89.06%);



}

.card1_head,
.card2_head {
    color: #FFFF;
    font-family: "Orbitron";
    font-size: 25px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;


}

.card1_head {
    position: relative;
    right: -150px;
    top: -120px;
}

.card2_head {
    position: relative;
    right: -150px;
    top: -120px;


}

.donut {
    position: relative;
    bottom: -30px;
    width: 120px;
    height: 120px;

}

.card1_text {
    color: #FFFF;
    font-family: "Orbitron";
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: left;
    position: relative;
    right: -150px;
    top: -90px;

}

.thermo {
    position: relative;
    bottom: -30px;
    right: -50px;
    width: 51px;
    height: 120px;
}

.card2_text {
    color: #FFFF;
    font-family: "Orbitron";
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: left;
    position: relative;
    right: -150px;
    top: -90px;
}

.Mercury {
    position: relative;
    top: -1806px;
    background-repeat: no-repeat;
    width: 2750px;
    height: 1800px;
}

.mercury_bg {
    width: 100%;
    height: 100%;
}

.MERCURY {
    position: relative;
    top: -1700px;
    width: 1024px;
    height: 1412px;

}

.container {
    position: relative;
    top: -3000px;
    right: -1200px;
    color: #FFFF;
}

.Mercury_heading {
    color: #FFFF;
    font-family: "Orbitron";
    font-size: 100px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: -0.02em;
    text-align: left;
    position: relative;
    bottom: -50px;



}

.mercury_subtext {
    color: #FFFF;
    font-family: "Inter";
    font-size: 30px;
    font-weight: 500;
    line-height: 60px;
    text-align: left;
    position: relative;
    bottom: -120px;
    ;

}

.mercury_cards {
    display: flex;
    flex-wrap: wrap;
    width: 2000px;
    position: relative;
    bottom: -250px;
    gap: 50px;
}

.mercury_card1,
.mercury_card2,
.mercury_card3 {
    width: 600px;
    height: 308px;
    padding: 24px 40px 24px 40px;
    border-radius: 32px;
    border: 4px;
    opacity: 0px;
    background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    border: 4px solid;

    border-image-source: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #170B36 0%, #100A33 11.98%, #370D44 46.35%, #430E49 89.06%);
}

@keyframes wobble {
    0%, 100% {transform: translate(0);}
	10%, 30%, 50%, 70%, 90% {transform: translate(-10px);}
	20%, 40%, 60%, 80% {transform: translate(10px); } 
    
}
.mer_head1 {
    position: relative;
    color: #FFFF;
    font-family: "Orbitron";
    font-size: 30px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
    right: -200px;
    top: -160px;
}

.donut2 {
    position: relative;
    width: 180px;
    height: 180px;
    bottom: -50px;
}

.mer_text1 {
    position: relative;

    font-family: "Orbitron";
    font-size: 76px;
    font-weight: 900;
    line-height: 96px;
    letter-spacing: -0.02em;
    text-align: left;
    right: -200px;
    top: -150px;

}

.mer_head2 {
    position: relative;
    color: #FFFF;
    font-family: "Orbitron";
    font-size: 30px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
    right: -200px;
    top: -150px;

}

.thermo2 {
    width: 78px;
    height: 170px;
    position: relative;
    bottom: -60px;
    right: -60px;
}

.mer_text2 {

    font-family: "Orbitron";
    font-size: 76px;
    font-weight: 900;
    line-height: 96px;
    letter-spacing: -0.02em;
    text-align: left;
    position: relative;
    right: -180px;
    top: -140px;

}

.mer_head3 {
    position: relative;
    color: #FFFF;
    font-family: "Orbitron";
    font-size: 30px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
    right: -150px;
    top: -130px;

}

.coldthermo {
    width: 78px;
    height: 170px;
    position: relative;
    bottom: -60px;
    right: -10px;
}

.mer_text3 {
    position: relative;
    font-family: "Orbitron";
    font-size: 76px;
    font-weight: 900;
    line-height: 96px;
    letter-spacing: -0.02em;
    text-align: left;
    right: -140px;
    top: -130px;

}

.Venus {
    position: relative;
    top: -1806px;
    background-repeat: no-repeat;
    width: 2750px;
    height: 1800px;
}

.venus_bg {
    width: 100%;
    height: 100%;
}

.Venus_img {
    width: 1646px;
    height: 1570px;
    position: relative;
    right: -1100px;
    top: -1573px;

}

.ve_container {
    position: relative;
    top: -2900px;
    right: -200px;
    color: #fff;
}

.ve_head {

    font-family: "Orbitron";
    font-size: 120px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: -0.02em;
    text-align: left;

}

.ve_text {

    font-family: "Inter";
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
    position: relative;
    bottom: -150px;

}

.ve_card1,
.ve_card2 {
    width: 528px;
    height: 264px;
    padding: 24px 40px 24px 40px;
    gap: 24px;
    border-radius: 32px;
    border: 4px 0px 0px 0px;
    opacity: 0px;
    background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    border: 4px solid;

    border-image-source: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #170B36 0%, #100A33 11.98%, #370D44 46.35%, #430E49 89.06%);
    position: relative;
    bottom: -300px;
    margin-bottom: 50px;
}
.ve_card1.show
{
  animation:flips 2s ease-in;
}
.ve_card2.show
{
    animation:flips 2s ease-in;
}
@keyframes flips {
    from
    {
        transform: rotateY(130deg);
    }
    to
    {
        transform: rotateY(0deg);
    }
}


.ve_card_head1 {
    font-family: "Orbitron";
    font-size: 30px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
    position: relative;
    right: -190px;
    top: -110px;
}

.ve_card_head2 {
    font-family: "Orbitron";
    font-size: 30px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
    position: relative;
    right: -160px;
    top: -130px;
}

.donut3 {
    width: 140px;
    height: 140px;
    position: relative;
    bottom: -70px;
}

.ve_card_text1 {

    font-family: "Orbitron";
    font-size: 57px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: -0.02em;
    text-align: left;
    position: relative;
    right: -200px;
    top: -100px;

}

.thermo3 {
    position: relative;
    width: 68px;
    height: 160px;
    bottom: -60px;
    right: -20px;

}

.ve_card_text2 {

    font-family: "Orbitron";
    font-size: 57px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: -0.02em;
    text-align: left;
    position: relative;
    right: -150px;
    top: -120px;

}

.Earth {
    position: relative;
    top: -1806px;
    background-repeat: no-repeat;
    width: 2750px;
    height: 1800px;
}

.earth_bg {
    width: 100%;
    height: 100%;
}

.e_lay1 {
    position: relative;
    top: -900px;
    width: 2762px;
    height: 902px;
}

.e_lay2 {
    width: 2526px;
    height: 1076px;
    position: relative;
    right: -150px;
    top: -1985px;

}

.rocket {
    position: relative;
    top: -3000px;
    /* left:-1000px; */
    width: 340px;
    height: 374px;
}
.rocket.show
{
  animation: takeoff 2s ease 1s  backwards;
}
@keyframes takeoff {
    from
    {
        transform: translate(-500px,350px);
        
    }
    to
    {
       transform: translate(0px);
    }
    
}

.arrow {
    position: relative;
    top: -3300px;
    right: -1500px;
    width: 400px;
    height: 334px;
}

.earth_text {
    position: relative;
    top: -4000px;
    right: -200px;
    color: #FFFF;
}

.earth_head {

    font-family: "Orbitron";
    font-size: 134px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: -0.02em;
    text-align: left;

}

.earth_content {

    font-family: "Inter";
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    position: relative;
    bottom: -70px;

}

.moon_text {
    position: relative;
    top: -3800px;
    /* right: -1200px; */
    color: #FFFF;
}

.moon_head {
    font-family: "Orbitron";
    font-size: 76px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: right;
    color: #FFFF;
    position: relative;
    left: -1000px;
}

.moon_content {

    font-family: "Inter";
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
    text-align: right;
    position: relative;
    left: -1000px;
    bottom: -40px;

}

.Earth_card {
    color: #FFFF;
    width: 528px;
    height: 264px;
    padding: 24px 40px 24px 40px;
    gap: 24px;
    border-radius: 32px;
    border: 4px 0px 0px 0px;
    opacity: 0px;
    background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    border: 4px solid;

    border-image-source: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #170B36 0%, #100A33 11.98%, #370D44 46.35%, #430E49 89.06%);
    position: relative;
    top: -4400px;
    right: -2000px;

}

.e_card_head {
    font-family: "Orbitron";
    font-size: 30px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
    position: relative;
    top: -110px;
    right: -150px;
}

.e_card_text {
    font-family: "Orbitron";
    font-size: 57px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: -0.02em;
    text-align: left;
    position: relative;
    right: -150px;
    top: -100px;

}

.donut4 {
    position: relative;
    width: 120px;
    height: 120px;
    bottom: -60px;
}

.hero_bg {
    position: relative;
    /* top: -1806px; */
    background-repeat: no-repeat;
    width: 2750px;
    height: 2100px;


}

.hero {
    position: relative;
    top: -2053px;
}

.box {
    position: relative;
    top: -2052px;
    margin-bottom: -6000px;
}

.Mars_bg {
    width: 100%;
    height: 100%;
    position: relative;
}

.Mars {
    position: relative;
    background-repeat: no-repeat;
    width: 2750px;
    height: 1800px;
    bottom: -2000px;
}

.Jupiter_bg {
    width: 100%;
    height: 100%;
    position: relative;
}

/* .Jupiter {
    position: relative;
    background-repeat: no-repeat;
    width:;
    height: 1800px;
    bottom: -2000px;
  
} */

.Mars_img {
    position: relative;
    top: -935px;
    width: 1108px;
    height: 932px;
}

.arrow2 {
    position: relative;
    top: -1600px;
    left: -100px;
    width: 156px;
    height: 106px;
}

.Mars_text {
    color: #FFFF;
    position: relative;
    top: -2500px;
    right: -200px;
}

.Mars_head {

    font-family: "Orbitron";
    font-size: 134px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: -0.02em;
    text-align: left;

}

.Mars_subtext {
    font-family: "Inter";
    font-size: 25px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    position: relative;
    bottom: -100px;

}

.marsMoonHead {
    font-family: "Orbitron";
    font-size: 76px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;
    position: relative;
    right: -1000px;
    bottom: -700px;

}

.marsMoonText {
    font-family: "Inter";
    font-size: 25px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    position: relative;
    right: -1000px;
    bottom: -750px;

}

.marsCard1,
.marsCard2,
.marsCard3 {
    width: 650px;
    height: 300px;
    padding: 24px 40px 24px 40px;
    gap: 24px;
    border-radius: 32px;
    border: 4px;
    opacity: 0px;
    background: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #430E49 0.53%, #370D44 32.06%, #170B36 89.03%, #100A33 100%);
    border: 4px solid;

    border-image-source: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #170B36 0%, #100A33 11.98%, #370D44 46.35%, #430E49 89.06%);
    margin-bottom: 100px;



}

.MarsCards {
    position: relative;
    top: -2900px;
    right: -1900px;
}

.marsCard1Head {
    font-family: "Orbitron";
    font-size: 30px;
    font-weight: 900;
    line-height: 60px;
    text-align: left;
    color: #FFFF;
    position: relative;
    right: -250px;

}

.donut5 {
    width: 160px;
    height: 160px;
    position: relative;
}

.marsCard1Text {
    font-family: "Orbitron";
    font-size: 76px;
    font-weight: 900;
    line-height: 96px;
    letter-spacing: -0.02em;
    text-align: left;
    position: relative;
    right: -250px;
    top: -150px;
    color: #FFFF;

}

.marsCard2Text {
    font-family: "Orbitron";
    font-size: 76px;
    font-weight: 900;
    line-height: 96px;
    letter-spacing: -0.02em;
    text-align: left;
    position: relative;
    right: -250px;
    top: -150px;
    color: #FFFF;

}

.marsCard2Head {
    font-family: "Orbitron";
    font-size: 30px;
    font-weight: 900;
    line-height: 60px;
    text-align: left;
    color: #FFFF;
    position: relative;
    right: -250px;

}

.thermo4,
.coldthermo2 {
    position: relative;
    bottom: -10px;
    right: -50px;
    width: 68px;
    height: 160px;
}

.marsCard3Text {
    font-family: "Orbitron";
    font-size: 76px;
    font-weight: 900;
    line-height: 96px;
    letter-spacing: -0.02em;
    text-align: left;
    position: relative;
    right: -250px;
    top: -150px;
    color: #FFFF;

}

.marsCard3Head {
    font-family: "Orbitron";
    font-size: 30px;
    font-weight: 900;
    line-height: 60px;
    text-align: left;
    color: #FFFF;
    position: relative;
    right: -250px;

}

.Footer {
    position: relative;
    background-image: url("Footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    bottom: -2000px;
    width: 2750px;
    height: 1000px;


}

.Footer_container {
    width: 2004px;
    height: 672px;
    position: relative;
    padding: 40px 8px 40px 8px;
    gap: 80px;
    border-radius: 40px;
    opacity: 0px;
    background-color: #1E1E1E;
    bottom: -150px;
    right: -300px;
    border: 8px solid;
    border-image-source: radial-gradient(110.92% 172.47% at 91.09% 101.78%, #170B36 0%, #100A33 11.98%, #370D44 46.35%, #430E49 89.06%);




}

.Footer_head {
    font-family: "Orbitron";
    font-size: 70px;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #FFFF;
    position: relative;
    bottom: -50px;

}

.Footer_text {
    font-family: "Inter";
    font-size: 25px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    color: #FFFF;
    position: relative;
    bottom: -140px;

}

.button_join {
    background: #FFFFFF;
    width: 795px;
    height: 100px;
    padding: 8px 15px 8px 15px;
    gap: 8px;
    border-radius: 80px;
    opacity: 0px;
    position: relative;
    right: -600px;
    bottom: -200px;



}


.subscribe {
    width: 260px;
    height: 84px;
    padding: 8px ;
    gap: 8px;
    border-radius: 40px;
    opacity: 0px;
    background-image: linear-gradient(315deg, #CD1013 1.19%, #FF0004 1.5%, #2500FF 94.46%);
    position: relative;
    /* bottom: -1000px; */
    margin-top: 500px;
    top: -590px;
    right: -520px;
     color: #FFFFFF;
    font-family: "Orbitron";
    font-size: 32px;
    font-weight: 900;
    line-height: 60px;
    text-align: left;
    min-width: 20%;



}

input {
    background-color: transparent;
    border: 0px solid;
    padding: 30px;
    font-family: "Inter";
    font-size: 32px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #000000;
    position: relative;
    border-radius: 40px;
}

input:focus {
    outline: none;
}
.whiteButton
{
    width:55px;
    position: relative;
    top:-60px;
    right:-185px;
}
.subsText{
    position: relative;
    
}
.navbar2
{
    position: relative;
    bottom: -250px;
    display: flex;
    gap:100px;
}
#logo2
{
    width: 350px;
    height: 50px;
    position: relative;
    bottom: -30px;
    right: -20px;
}
.copy2 {

    font-family: "Inter";
    font-size: 25px;
    font-weight: 600;
    line-height: 48px;
    color: white;
    position: relative;
    bottom:-30px;

}
a
{
    text-decoration: none;
    color: #fff;
}
a:visited
{
    color:darkturquoise;
}