body {
    background-image: url("Hero.png");
    background-repeat: no-repeat;
    margin: 0;
    zoom: 50%;
    overflow-x: hidden;
}

.navbar {
    width: 2880px;
    padding: 15px 98px 32px 98px;
    display: flex;
    gap: 220px;
    align-items: center;

}

#logo {
    width: 545.22px;
    height: 64px;
}

.copy {

    font-family: "Inter";
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    color: white;

}

ul {
    display: flex;
    list-style-type: none;
    color: white;
    gap: 30px;

    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;

}

#left {
    width: 270px;
    position: relative;
    top: -500px;

}

#saturn {
    width: 550px;
    position: relative;
    top: -400px;

}

#small {
    width: 288px;
    position: relative;
    top: -720px;

}

#bottomPlanet {
    margin-left: 900px;
    width: 339px;
    position: relative;
    top: -720px;


}

#rightBottom {
    margin-left: 410px;
    width: 782px;
    position: relative;
    top: -720px;

}

.planets {
    min-width: 500%;
    position: relative;
    top: -1080px;
}

#right {
    margin-left: 840px;
    width: 510px;
    position: relative;

}

#Earth {
    width: 196.5px;
    position: relative;
    top: -620px;
    right: -120px;
    margin-left: 900px;
    z-index: -1;
}

#green {
    width: 126px;
    position: relative;
    top: -1200px;
    right: -100px;
}

.heading {
    color: #FFFF;

    font-family: "Orbitron";
    font-size: 120px;
    font-weight: 900;
    line-height: 126px;
    position: relative;
    bottom: -300px;
    right: -300px;
    width: 2000px;
    height: 1200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.text {
    /* bottom: -1000px;
    right: -500px; */
    width: 2000px;
    height: 500px;
    text-align: center;
    font-family: "Inter";
    font-size: 25px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #FFFF;
    position: relative;
    bottom: -50px;



}

button {
    position: relative;
    top: -350px;
    width: 492px;
    height: 176px;
    padding: 28px 40px 28px 40px;
    gap: 16px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
    right: -800px;

    font-family: "Orbitron";
    font-size: 42px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #FFFF;
    background-image:  linear-gradient(315deg, #CD1013 1.19%, #FF0004 1.5%, #2500FF 94.46%);
}
.Sun
{
    background-image: url("Sun.png");
    position: relative;
    top: -1810px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 5000px;
    height: 2600px ;
}